
main {
    border-radius: 5px;
    align-items: left;
    text-align: left;
    width: 400px;
    margin-left: 30%;
}



p {
    font-weight: bolder;
    text-align: center;
}

div.submit {
    text-align: center;
}